body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    position: relative;
}

.container {
    text-align: center;
}

#randomButton {
    background-color: red;
    color: white;
    font-size: 24px;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#randomButton:hover {
    background-color: darkred;
}

#randomButton1 {
    background-color: red;
    color: white;
    font-size: 24px;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#randomButton1:hover {
    background-color: darkred;
}

#randomButton2 {
    background-color: red;
    color: white;
    font-size: 24px;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#randomButton2:hover {
    background-color: darkred;
}

#randomResult {
    margin-top: 20px;
    font-size: 32px;
}

#randomResult1 {
    margin-top: 20px;
    font-size: 32px;
}

#randomResult2 {
    margin-top: 20px;
    font-size: 32px;
}

.history-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

#historyList {
    list-style-type: none;
    padding: 0;
}

#historyList li {
    font-size: 16px;
    margin: 5px 0;
}
