body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    position: relative;
}

.container {
    text-align: center;
}

#randomButton, #randomButton1, #randomButton2 {
    background-color: red;
    color: white;
    font-size: 24px;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

#randomButton:hover, #randomButton1:hover, #randomButton2:hover {
    background-color: darkred;
}

#randomResult, #randomResult1, #randomResult2 {
    margin-top: 20px;
    font-size: 32px;
}

.history-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

#historyList {
    list-style-type: none;
    padding: 0;
}

#historyList li {
    font-size: 16px;
    margin: 5px 0;
}

.average-container {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
}

#averageMean {
    font-size: 32px;
    margin: 0;
}
#clickCount {
    font-size: 32px;
    margin: 0;
}
.header {
    margin-bottom: 30px;
    font-family: Helvetica;
}

/* Default dark mode styles */
body.dark-mode {
    background-color: #181818;
    color: #e0e0e0;
}

.container.dark-mode {
    color: #e0e0e0;
}

.history-container.dark-mode, .average-container.dark-mode {
    color: #e0e0e0;
}

#randomButton, #randomButton1, #randomButton2 {
    background-color: #b71c1c; /* Darker red */
    color: #fff;
}

#randomButton:hover, #randomButton1:hover, #randomButton2:hover {
    background-color: #d32f2f; /* Even darker red */
}


#darkModeSwitch {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    z-index: 1000; /* Make sure it's above other content */
    margin-bottom: 20px;
}

